.outer-box{
    display: grid;
    grid-template-columns: repeat(6,14%);
    grid-template-rows: 100px 100px;
    grid-auto-rows: 100px 100px ;
    gap: 10px;
    margin-top: 115px;
    margin-bottom: 5px;
    margin-left: 70px;
}
.title{
    font-family: "Pacifico", cursive;
}
.nav-link{
    font-family: "Playfair", serif;
    font-size: 1.25em;
}
.image{
    background-color: pink;
    color: white;
    transition: all 50ms ease-in-out;

    &:hover{
        transform: scale(1.05);
    }
}
.image1{
    grid-template-rows:100px 200px ;
    background-image: url("./Images/Thanjavur.jpg");
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }
}
.image2{
    background-image: url("./Images/dharmapuri-1654194392_6e3e3cdfdd3337059dd5.webp");
    background-size: cover;
    transition: all 1s ease-in-out;
        /* grid-row: span 2; */

    &:hover{
        transform: (1.2);
    }    
}
.image3{
    background-image: url("./Images/indian-gate.webp");
    background-size: cover;
    background-position: center;   
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image4{
    background-image: url("./Images/kollam-jatayu-nature-park.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
        /* grid-row: span 2; */

    &:hover{
        transform: (1.2);
    }    
}
.image5{
    background-image: url("./Images/Munnar.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image6{
    background-image: url("./Images/mysore-palace.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    /* grid-row: span 2; */

    &:hover{
        transform: (1.2);
    }    
}
.image7{
    background-image: url("./Images/large_1.jpg");
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image8{
    background-image: url("./Images/rameshwaram.jpg");
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image9{
    background-image: url("./Images/nahargarh-fort.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image10{
    background-image: url("./Images/gurudongmar.webp");
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image11{
    background-image: url("./Images/water-palce.jpg");
    background-size: cover;
    /* background-position: center; */
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image12{
    background-image: url("./Images/Bali.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image13{
    background-image: url("./Images/Dal-Lake-Most.jpg");
    background-size: cover;
        grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image14{
    background-image: url("./Images/Alleppey.jpg");
    background-size: cover;
    grid-row: span 2;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image15{
    background-image: url("./Images/mangroves.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image16{
    background-image: url("./Images/Beautiful-Scenic-places-in-India.jpeg");
    background-size: cover;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image17{
    background-image: url("./Images/budget_destination.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image18{
    background-image: url("./Images/new-temple.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
        grid-row: span 2;

    &:hover{
        transform: (1.2);
    }    
}
.image19{
    background-image: url("./Images/train-rides.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image20{
    background-image: url("./Images/opi-17.jpeg");
    background-size: cover;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}
.image21{
    background-image: url("./Images/delhi-nyt-street.jpg");
    background-size: cover;
    transition: all 1s ease-in-out;

    &:hover{
        transform: (1.2);
    }    
}

@media(max-width:600px){
    .outer-box{
    margin-left: 0px;    
    grid-template-columns: repeat(1,1fr); 
    grid-template-rows: 300px 300px;
    grid-auto-rows: 300px 300px ;
    gap: 20px;           
    }
    .image{
        grid-column: span 1;
        grid-row: span 1;
    }
}









